Repository rystad2024/re_superset, pull requests merged in 2025-03, with the labels that each got.

#26 style changes on list, new font-style, background to submenu and new …
  docker/pythonpath_dev/superset_config.py
  superset-frontend/packages/superset-ui-core/src/style/index.tsx
  superset-frontend/src/assets/stylesheets/less/fonts.less
  superset-frontend/src/assets/stylesheets/less/variables.less
  superset-frontend/src/components/Button/index.tsx
  superset-frontend/src/components/Label/index.tsx
  superset-frontend/src/components/ListView/Filters/Search.tsx
  superset-frontend/src/components/Select/styles.tsx
  superset-frontend/src/components/TableCollection/index.tsx
  superset-frontend/src/dashboard/components/Header/useHeaderActionsDropdownMenu.tsx
  superset-frontend/src/features/home/SubMenu.tsx
  superset-frontend/src/pages/ChartList/index.tsx
  superset-frontend/src/pages/DashboardList/index.tsx
  superset-frontend/src/pages/DatasetList/index.tsx
  superset-frontend/src/pages/Home/index.tsx
  superset/config.py
Labels: packages

#27 fixed inactive text, more buttons and tag style
  superset-frontend/packages/superset-ui-core/src/style/index.tsx
  superset-frontend/src/components/Button/index.tsx
  superset-frontend/src/components/ListView/ListView.tsx
  superset-frontend/src/components/Tags/Tag.tsx
  superset-frontend/src/features/home/SubMenu.tsx
  superset-frontend/src/pages/AlertReportList/index.tsx
  superset-frontend/src/pages/AnnotationLayerList/index.tsx
  superset-frontend/src/pages/CssTemplateList/index.tsx
  superset-frontend/src/pages/Tags/index.tsx
  superset/config.py
Labels: packages

#28 Anurag/universal search
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/features/home/FavouriteComponent.tsx
  superset-frontend/src/features/home/Menu.tsx
  superset-frontend/src/features/home/SearchBar.tsx
  superset-frontend/src/views/CRUD/hooks.ts
  superset-frontend/src/views/CRUD/types.ts
Labels: dependencies:npm

#36 new style for create widget and change to RE loader
  superset-frontend/plugins/plugin-chart-cartodiagram/src/components/ChartLayer.tsx
  superset-frontend/src/assets/images/re-loader.gif
  superset-frontend/src/components/Loading/index.tsx
  superset-frontend/src/explore/components/controls/VizTypeControl/VizTypeGallery.tsx
  superset-frontend/src/features/datasets/AddDataset/DatasetPanel/DatasetPanel.tsx
  superset-frontend/src/pages/ChartCreation/index.tsx
  superset-frontend/src/pages/DatabaseList/index.tsx
Labels: plugins
