Repository rystad2024/re_superset, pull requests merged in 2025-02, with the labels that each got.

#1 added dev and prod deployments
  .github/workflows/dev-build.yml
  .github/workflows/prod-build.yml
Labels: github_actions

#3 Ss cb menu url changes
  superset-frontend/cypress-base/cypress/utils/urls.ts
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/assets/images/rystad_logo.png
  superset-frontend/src/features/home/DashboardTable.tsx
  superset-frontend/src/features/home/EmptyState.tsx
  superset-frontend/src/features/home/Menu.test.tsx
  superset-frontend/src/features/home/Menu.tsx
  superset-frontend/src/pages/DashboardList/index.tsx
  superset-frontend/src/pages/DatasetCreation/index.tsx
  superset-frontend/src/pages/DatasetList/index.tsx
  superset-frontend/src/views/routes.tsx
  superset/config.py
  superset/initialization/__init__.py
  superset/views/base.py
  superset/views/core.py
  superset/views/dashboard/views.py
  tests/integration_tests/core_tests.py
  tests/integration_tests/dashboards/consts.py
Labels: dependencies:npm, api

#7 changed color-scheme and fix exploredata url bug
  docs/src/pages/index.tsx
  docs/src/styles/custom.css
  docs/src/styles/main.less
  superset-frontend/packages/superset-ui-core/src/style/index.tsx
  superset-frontend/src/GlobalStyles.tsx
  superset-frontend/src/assets/stylesheets/less/index.less
  superset-frontend/src/assets/stylesheets/less/variables.less
  superset-frontend/src/assets/stylesheets/superset.less
  superset-frontend/src/components/Collapse/index.tsx
  superset-frontend/src/components/ListView/ListView.tsx
  superset-frontend/src/components/Menu/index.tsx
  superset-frontend/src/dashboard/components/Header/index.jsx
  superset-frontend/src/features/home/ChartTable.tsx
  superset-frontend/src/features/home/DashboardTable.tsx
  superset-frontend/src/features/home/Menu.tsx
  superset-frontend/src/features/home/SavedQueries.tsx
  superset-frontend/src/features/home/SubMenu.tsx
  superset-frontend/src/pages/DashboardList/index.tsx
  superset-frontend/src/pages/Home/index.tsx
  superset/config.py
  superset/connectors/sqla/models.py
  superset/initialization/__init__.py
  superset/views/datasource/views.py
Labels: doc, packages

#8 changed url and names on chart to widgets an extracted download widgets to button
  superset-frontend/cypress-base/cypress/utils/urls.ts
  superset-frontend/src/explore/components/ExploreChartHeader/index.jsx
  superset-frontend/src/explore/components/useExploreAdditionalActionsMenu/index.jsx
  superset-frontend/src/features/home/ChartTable.tsx
  superset-frontend/src/features/home/EmptyState.tsx
  superset-frontend/src/features/home/Menu.test.tsx
  superset-frontend/src/features/home/Menu.tsx
  superset-frontend/src/pages/ChartList/index.tsx
  superset-frontend/src/views/routes.tsx
  superset/views/chart/views.py
  superset/views/core.py
  tests/integration_tests/core_tests.py
Labels: api
